<link rel="import" href="../common/header.html?__inline">
	<div class="alert alert-danger" role="alert">注意：素材修改成功后，重新发布才生效。<br/>最多只可以加入8条图文消息。<br/>图片建议尺寸：900像素 * 500像素。</div>
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var weixinSubscribeId = $.location.getQueryArgv('weixinSubscribeId');
		var classify = {};
		function getmsg(next){
			$.get('/wxsubscribe/graphicGet',{weixinSubscribeId:weixinSubscribeId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				classify = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'title',type:'text',name:'素材标题'},
					{id:'remark',type:'text',name:'备注'},
					{id:'PicUrl',type:'image',name:'图片',
						option:{
							url:'/upload/image',
							width:900
						}
					},
					{id:'Title',type:'text',name:'单图文标题'},
					{id:'Description',type:'text',name:'描述'},
					{id:'Url',type:'text',name:'外部链接'},
				],
				value:classify,
				submit:function(data){
					if( weixinSubscribeId != null ){
						data = $.extend({weixinSubscribeId:weixinSubscribeId},data);
						$.post('/wxsubscribe/graphicMod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}else{
						$.post('/wxsubscribe/graphicAdd',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}
				},
				cancel:function(){
					history.back();
				}
			});
		}

			if( weixinSubscribeId != null ){
				getmsg(go);
			}else{
				go();
			}

	</script>
<link rel="import" href="../common/footer.html?__inline">
