<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var inputOperation;
		function whenWindowClose(state,operation){
			if( state == 'confirm'){
				var data = inputOperation.get();
				if( data.password != data.password2 ){
					dialog.message('两次输入密码不一致');
					return;
				}
				$.post('/user/add',data,function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					dialog.message('注册成功，请使用帐号密码登入开始你的商城',function(){
						operation.close();
					});
				});
			}else{
				operation.close();
			}
		}
		function go(){
			inputOperation = input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:'text',name:'姓名'},
					{id:'password',type:'password',name:'密码'},
					{id:'password2',type:'password',name:'再次密码'},
					{id:'company',type:'text',name:'公司'},
					{id:'phone',type:'text',name:'电话'}
				],
				submit:undefined,
				cancel:undefined
			});
		}
		go();
	</script>
<link rel="import" href="../common/footer.html?__inline">
