<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var isCheck = ($.location.getQueryArgv('check') != null);
		var isClient = ($.location.getQueryArgv('isClient') != null);
		var userType = {};
		var tableOperation = {};
		function getAllType(next){
			$.get('/user/getAllType',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				userType = data.data;
				next();
			});
		}
		function whenWindowClose(mode,operation){
			if( mode == 'confirm' )
				operation.close( tableOperation.getCheckData() );
			else
				operation.close( []);
		}
		function go(){
			tableOperation = query.simpleQuery({
				id:'container',
				url:'/user/search'+(isClient?'?type=3':''),
				checkAll:isCheck,
				column:[
					{id:'userId',type:'text',name:'用户ID'},
					{id:'name',type:'text',name:'姓名'},
					{id:'company',type:'text',name:'公司'},
					{id:'phone',type:'text',name:'电话号码'},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'},
				],
				queryColumn:['name','type'],
				operate:[],
				button:[],
			});
		}
		getAllType(go);
	</script>
 </body>
</html>
