<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var userId = $.location.getQueryArgv('userId');
		var subPage = require('/fishstrap/page/subPage.js');
		var userType = {};
		var userPermission = {};
		var user = {};
		function getAllType(next){
			$.get('/user/getAllType',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				userType = data.data;
				next();
			});
		}
		function getAllPermission(next){
			$.get('/user/getAllPermission',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				userPermission = data.data;
				next();
			});
		}
		function getUser( next ){
			$.get('/user/get',{userId:userId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				user = data.data;
				next();
			});
		}
		function go(){
			if( userId != null )
				nameType = 'read';
			else
				nameType = 'text';
			input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:nameType,name:'姓名'},
					{id:'type',type:'enum',name:'类型',map:userType},
					{id:'company',type:'text',name:'公司'},
					{id:'phone',type:'text',name:'电话'},
					{id:'permission',type:'check',name:'权限',map:userPermission},
					{id:'client',type:'table',name:'客户',
						option:{
							column:[
								{name:'用户ID',type:'text',id:'userId'},
								{name:'名字',type:'text',id:'name'},
								{name:'公司',type:'text',id:'company'},
							],
							operate:[{
								name:'删除',
								click:function(data,operation){
									operation.remove();
								}
							}],
							button:[{
								name:'添加',
								click:function(operation){
									subPage.open({
										title:'添加客户',
										url:'index.html?check=true',
										close:function(state,data){
											if( state == 'confirm' )
												operation.add(data);
										}
									});
								}
							}]
						}
					},
				],
				value:user,
				submit:function(data){
					if( userId != null ){
						data = $.extend({userId:userId},data);
						$.post('/user/mod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}else{
						$.post('/user/add',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}
				},
				cancel:function(){
					location.href = 'index.html';
				}
			});
		}
		getAllType(function(){
			getAllPermission(function(){
				if( userId != null )
					getUser(go);
				else
					go();
			});
		});
	</script>
 </body>
</html>