/data/log/*
/data/upload/*
/static/build
/server/application/config/database.php
/server/application/indexp.php
*.swp
!/data/log/.gitignore
!/data/upload/.gitignore
!/data/upload/sample.jpg
!/data/upload/sample
!/data/upload/template/sample1
!/data/upload/template/sample2
