<link rel="import" href="../common/header.html?__inline">
	<div class="alert alert-danger" role="alert"></div>
	<div id="container"></div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query  = require('/fishstrap/ui/query.js');
		var url = 'http://'+$.location.getQueryArgv('userId')+'.'+location.hostname+'/'+$.location.getQueryArgv('userId')+'/chips/index.html';	
		var allClassify = {};
		var allState = {};

		$('div[role=alert]').text('众筹网址:'+url);

		function go(){
			query.simpleQuery({
				id:'container',
				url:'/chips/getChipsBack',
				column:[
					{id:'chips_id',type:'text',name:'众筹商品ID'},
					{id:'icon',type:'image',name:'图片'},
					{id:'product_title',type:'text',name:'商品标题'},
					{id:'oldprice',type:'text',name:'发起价格'},
					{id:'newprice',type:'text',name:'目前价格'},
					{id:'num',type:'text',name:'目前众筹数量'},
					{id:'start_time',type:'text',name:'开始时间'},
					{id:'end_time',type:'text',name:'结束时间'},
					{id:'start',type:'enum',name:'开始状态',map:{0:'已经过期',1:'进行中',2:'已暂停',3:'待开始'}},
					{id:'status',type:'enum',name:'上下架状态',map:{0:'下架',1:'上架'}},
				],
				
				operate:[
				{
					name:'上下架',
					click:function(data){
						$.post('/chips/upOrDown',{chips_id:data.chips_id},function(data){
							// data = $.JSON.parse(data);
							// if( data.code != 0 ){
							// 	dialog.message(data.msg);
							// 	return;
							// }
							if(data == 1){
								alert('更改状态成功');
								location.href = 'index.html';
							}else{
								alert(data);
							}
							
						});
					}
				},
				{
					name:'权限',
					click:function(data){
						location.href = 'power.html?chips_id='+data.chips_id;
					}
				},
				{
					name:'编辑',
					click:function(data){
						location.href = 'edit.html?chips_id='+data.chips_id;
					}
				},
				{
					name:'删除',
					click:function(data){
						dialog.confirm('确认删除该商品，不可回退操作？!',function(){
							$.post('/chips/del',{chips_id:data.chips_id},function(data){
								data = $.JSON.parse(data);
								if(data == 1){
									alert('删除成功');
									location.href = 'index.html';
								}else{
									alert(data);
								}
							});
						});
					}
				}],
			});
		}
		go();
		function add_chips(){
			location.href = 'add.html';
		}
	</script>
<link rel="import" href="../common/footer.html?__inline">
