<link rel="import" href="../common/header.html?__inline">
<!-- <script type="text/javascript" src='jquery.js'></script> -->
<body>

	<div id="container"></div>
	<script type="text/javascript">
		// $("input[type='checkbox']").live('click', function() {
		// 	power();
		// });
		// $('#container').on('click', 'input[type=checkbox]', function() {
		// 	power();
		// });
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var chips_id = $.location.getQueryArgv('chips_id');
		// var $ = null;
		function go(){
			query.simpleQuery({
				id:'container',
				url:'/chipspower/getUser?chips_id=' + chips_id,
				column:[
					{id:'check',type:'text',name:"<input type='checkbox' name='all'/>"},
					{id:'clientId',type:'text',name:'用户ID'},
					{id:'openId',type:'text',name:'openId'},
					{id:'headImgUrl',type:'image',name:'头像'},
					{id:'nickName',type:'text',name:'用户名'},
				],
				queryColumn:['nickName'],
				operate:[],
				button:[
				]
			});
			$('#container').on('click', "input[name='power[]'][type=checkbox]", function() {
				var clientId = $(this).attr('clientId');
				var status = 0;
				if($(this).is(':checked')){
					status = 1;
				}else{
					status = 0;
				}
				$.ajax({
					url: '/chipspower/changePower',
					type: 'POST',
					dataType: 'JSON',
					data: {
						clientId: clientId,
						chips_id: chips_id,
						status  : status
					},
					success:function(data){
						if(data == 1){
							alert('更改成功');
						}else{
							alert('更改失败');
						}
					},
					error:function(XMLResponse){
						alert(XMLResponse.responseText);
					}
				})
			});
		}

		function power(){
			alert(chips_id);
		}
		
		go();

	</script>
</body>
<link rel="import" href="../common/footer.html?__inline">