<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var questionId = $.location.getQueryArgv('questionId');
		var question = {};
		function getQuestion(next){
			$.get('/question/get',{questionId:questionId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				question = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'question',type:'text',name:'问题'},
				],
				value:question,
				submit:function(data){
					if( questionId != null ){
						$.post('/question/mod',{questionId: question.questionId,data: data},function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}else{
						$.post('/question/add',{data:data},function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}
				},
				cancel:function(){
					history.back();
				}
			});
		}
		if( questionId != null )
			getQuestion(go);
		else
			go();
	</script>
<link rel="import" href="../common/footer.html?__inline">