<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var distributionOrderId = $.location.getQueryArgv('distributionOrderId');
		var distributionOrderState = {};
		var distributionOrderOldState = 0;
		var distributionOrder = {};
		function getAllState(next){
			$.get('/distributionorder/getAllState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				distributionOrderState = data.data;
				next();
			});
		}
		function getOrder(next){
			$.get('/distributionorder/get',{distributionOrderId:distributionOrderId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				distributionOrder = data.data;
				distributionOrderOldState = distributionOrder.state;
				distributionOrder.commodity = distributionOrder.order.commodity;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'distributionOrderId',type:'read',name:'分成订单ID'},
					{id:'shopOrderId',type:'read',name:'订单ID'},
					{id:'upUserId',type:'read',name:'供货商ID'},
					{id:'upUserCompany',type:'read',name:'供货商名称'},
					{id:'downUserId',type:'read',name:'分销商ID'},
					{id:'downUserCompany',type:'read',name:'分销商名称'},
					{id:'shopOrderPrice',type:'read',name:'订单金额'},
					{id:'price',type:'read',name:'分成总金额'},
					{id:'commodity',type:'table',name:'订单商品',
						option:{
							column:[
								{name:'图片',type:'image',id:'icon'},
								{name:'标题',type:'text',id:'title'},
								{name:'价格',type:'text',id:'priceShow'},
								{name:'数量',type:'text',id:'quantity'},
								{name:'分成比例',type:'text',id:'distributionPrecent'},
								{name:'分成金额',type:'text',id:'distributionPrice'}
							],
							operate:[],
							button:[]
						}
					},
					{id:'state',type:'enum',name:'分成订单状态',map:distributionOrderState}
				],
				value:distributionOrder,
				submit:function(data){
					if(data.state < distributionOrderOldState){
						dialog.message('不能回退订单状态',function(){
							history.back();
						});
						return;
					}
					if(data.state == 1 ){
						dialog.message('只有供货商才有权限修改为付款中状态');
					}else if(data.state == 2){
						//转换为已付款
						dialog.confirm('确认扭转订单为已付款状态，不可回退操作？!',function(){
							$.post('/distributionorder/hasPayOrder',{distributionOrderId:data.distributionOrderId},function(data){
								data = $.JSON.parse(data);
								if(data.code!=0){
									dialog.message(data.msg);
									return;
								}
								history.back();
							});
						});
					}else if(data.state == 3){
						//转换为已收款
						dialog.confirm('确认扭转订单为已收款状态，不可回退操作？!',function(){
							$.post('/distributionorder/confirm',{distributionOrderId:data.distributionOrderId},function(data){
								data = $.JSON.parse(data);
								if(data.code!=0){
									dialog.message(data.msg);
									return;
								}
								history.back();
							});
						});
					}else{
						history.back();
					}
				},
				cancel:function(){
					history.back();
				},
			});
		}
		getAllState(function(){
			getOrder(go);
		});
	</script>
</body>
</html>