<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var distributionOrderId = $.location.getQueryArgv('distributionOrderId');
		var distributionOrderState = {};
		var distributionOrder = {};
		var upUserId = 0;
		var downUserId = 0;
		var defaultDistributionPrecent = 0;
		function getAllState(next){
			$.get('/distributionorder/getAllState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				distributionOrderState = data.data;
				next();
			});
		}
		function getLinkPrecent(next){
			$.get('/distribution/getByLink',{upUserId:upUserId,downUserId:downUserId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					alert(data.msg);
					defaultDistributionPrecent = 0;
					return;
				}else{
					defaultDistributionPrecent = $.format.floatval(data.data['distributionPercentShow'])/100;
					if(distributionOrder.vender == distributionOrder.upUserId){
						defaultDistributionPrecent = defaultDistributionPrecent;
					}else if(distributionOrder.downUserId != distributionOrder.entranceUserId){
						defaultDistributionPrecent = defaultDistributionPrecent/2;
					}
				}
				next();
			});
		}
		function getOrder(next){
			$.get('/distributionorder/get',{distributionOrderId:distributionOrderId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				distributionOrder = data.data;
				upUserId = data.data.upUserId;
				downUserId = data.data.downUserId;
				distributionOrderOldState = distributionOrder.state;
				distributionOrder.commodity = distributionOrder.order.commodity;
				next();
			});
		}
		function go(){
			function refreshPrice(){
				var data = inputOperation.get();
				var price = _.reduce(data.commodity,function(meno,single){
					return meno + $.format.floatval(single.distributionPrice);
				},0);
				inputOperation.set({
					price:price.toFixed(2)
				})
			}
			var inputOperation = input.verticalInput({
				id:'container',
				field:[
					{id:'distributionOrderId',type:'read',name:'分成订单ID'},
					{id:'shopOrderId',type:'read',name:'订单ID'},
					{id:'upUserId',type:'read',name:'供货商ID'},
					{id:'upUserCompany',type:'read',name:'供货商名称'},
					{id:'downUserId',type:'read',name:'分销商ID'},
					{id:'downUserCompany',type:'read',name:'分销商名称'},
					{id:'shopOrderPrice',type:'read',name:'订单金额'},
					{id:'price',type:'read',name:'分成总金额'},
					{id:'commodity',type:'table',name:'订单商品',
						option:{
							column:[
								{name:'商品ID',type:'text',id:'shopCommodityId'},
								{name:'图片',type:'image',id:'icon'},
								{name:'标题',type:'text',id:'title'},
								{name:'价格',type:'text',id:'priceShow'},
								{name:'数量',type:'text',id:'quantity'},
								{name:'分成比例',type:'textInput',id:'distributionPrecent',change:function(data,operation){
									operation.mod({
										distributionPrice:$.format.floatval(data.priceShow*data.quantity*data.distributionPrecent).toFixed(4)
									});
									refreshPrice();
								}},
								{name:'分成金额',type:'textInput',id:'distributionPrice',change:function(data,operation){
									operation.mod({
										distributionPrecent:$.format.floatval(data.distributionPrice/(data.priceShow*data.quantity)).toFixed(2)
									});
									refreshPrice();
								}}
							],
							operate:[],
							button:[{
								name:'一键设置为默认分成',
								click:function(operation){ 
									getLinkPrecent(function(){
										var commodity = operation.get();
										for( var i in commodity ){
											commodity[i].distributionPrecent = defaultDistributionPrecent.toFixed(4),
											commodity[i].distributionPrice = $.format.floatval(
												(commodity[i].priceShow*commodity[i].quantity)*defaultDistributionPrecent
											).toFixed(2);
										}
										operation.clear();
										operation.add(commodity);
										refreshPrice();
									});
								}
							}]
						}
					},
					{id:'state',type:'enum',name:'分成订单状态',map:distributionOrderState}
				],
				value:distributionOrder,
				submit:function(data){
					if(data.state!=1){
						dialog.message('只能扭转订单为付款中状态');
						return;
					}
					var data = {
						distributionOrderId:distributionOrderId,
						commodity:_.map(data.commodity,function(single){
							return {shopCommodityId:single.shopCommodityId,distributionPrice:single.distributionPrice};
						})
					};
					dialog.confirm('确认扭转订单为付款中状态，不可回退操作？!',function(){
						$.post('/distributionorder/payOrder',data,function(data){
							data = $.JSON.parse(data);
							if(data.code!=0){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					});
				},
				cancel:function(){
					history.back();
				},
			});
		}
		getAllState(function(){
			getOrder(go);
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">