<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var distributionState = {};
		function getAllState(next){
			$.get('/distribution/getAllState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				distributionState = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'user',type:'table',name:'上级分成',
						option:{
							column:[
								{id:'userId',type:'text',name:'上级分成ID'},
								{id:'company',type:'text',name:'上级分成名称'},
							],
							operate:[],
							button:[{
								name:'选择',
								click:function(operation){
									subPage.open({
										title:'选择上级分成',
										url:'../user/index.html?check=true&isClient=true',
										close:function(state,data){
											if( state == 'confirm' && data.length != 0  ){
												operation.clear();
												operation.add([data[0]]);
											}
										}
									});
								}
							}]
						}
					},
				],
				value:{},
				submit:function(data){
					if( data.user.length == 0 ){
						dialog.message('请选择上级分类');
						return;
					}
					$.post('/distribution/request',{upUserId:data.user[0].userId},function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						history.back();
					});
				},
				cancel:function(){
					history.back();
				}
			});
		}
		getAllState(function(){
			go();
		});
	</script>
 </body>
</html>