<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var password = {};

		function getPassword(next){
			$.get('/actpassword/getPassword',{}, function(data) {
				data = $.JSON.parse(data);
				if(data.code != 0){
					alert(data.msg);
					return;
				}
				password = data.data[0]['password'];
				next();
			});
		}

		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'password',type:'text',name:'活动密码'},
				],
				value:password,
				submit:function(data){
					$.post('/actpassword/changePassword',{'password':data.password},function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						location.reload();
					});
				},
				cancel:undefined
			});
		}
		getPassword(go);
	</script>
<link rel="import" href="../common/footer.html?__inline">