<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var companyClassify = {};
		function getClassify(next){
			$.get('/classify/search',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyClassify[0] = '未分类';
				_.each(data.data.data,function(single){
					companyClassify[single.userCompanyClassifyId] = single.title;
				});
				next();
			});
		}
		function go(){
			tableOperation = query.simpleQuery({
				id:'container',
				url:'/article/search',
				column:[
					{id:'userCompanyArticleId',type:'text',name:'文章ID'},
					{id:'title',type:'text',name:'标题'},
					{id:'remark',type:'text',name:'备注'},
					{id:'userCompanyClassifyId',type:'enum',name:'分类',map:companyClassify},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'}
				],
				queryColumn:['title','remark','userCompanyClassifyId'],
				operate:[
				{
					name:'修改',
					click:function(data){
						location.href = 'view.html?userCompanyArticleId='+data.userCompanyArticleId;
					}
				},
				{
					name:'删除',
					click:function(data){
						dialog.confirm('确认删除该文章，不可回退操作？!',function(){
							$.post('/article/del',{userCompanyArticleId:data.userCompanyArticleId},function(data){
								data = $.JSON.parse(data);
								if( data.code != 0 ){
									dialog.message(data.msg);
									return;
								}
								location.href = 'index.html';
							});
						});
					}
				}],
				button:[
				{
					name:'添加文章',
					click:function(){
						location.href = 'view.html';
					}
				}
				],
			});
		}
		getClassify(go);
	</script>
<link rel="import" href="../common/footer.html?__inline">