<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var userCompanyArticleId = $.location.getQueryArgv('userCompanyArticleId');
		var companyClassify = {};
		var companyArticle = {};
		function getClassify(next){
			$.get('/classify/search',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyClassify[0] = '未分类';
				_.each(data.data.data,function(single){
					companyClassify[single.userCompanyClassifyId] = single.title;
				});
				next();
			});
		}
		function get(next){
			$.get('/article/get',{userCompanyArticleId:userCompanyArticleId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyArticle = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'userCompanyClassifyId',type:'enum',name:'分类',map:companyClassify},
					{id:'title',type:'text',name:'标题'},
					{id:'summary',type:'area',name:'简介'},
					{id:'cover',type:'image',name:'封面图片',option:{url:'/upload/image',width:640}},
					{id:'content',type:'fullEditor',name:'内容',option:{url:'/upload/ueditor'}},
					{id:'remark',type:'text',name:'备注'}
				],
				value:companyArticle,
				submit:function(data){
					if( userCompanyArticleId != null ){
						data = $.extend({userCompanyArticleId:userCompanyArticleId},data);
						$.post('/article/mod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}else{
						$.post('/article/add',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}
				},
				cancel:function(){
					history.back();
				}
			});
		}
		getClassify(function(){
			if( userCompanyArticleId != null )
				get(go);
			else
				go();
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">