<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var allClassify = {};
		var allState = {};
		function getAllState(next){
			$.get('/commodity/getState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allState = data.data;
				next();
			});
		}
		function getAllClassify(next){
			$.get('/commodityclassify/search',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allClassify[0] = '无分类';
				for( var i in data.data.data ){
					allClassify[data.data.data[i].shopCommodityClassifyId] = data.data.data[i].title;
				}
				next();
			});
		}
		function go(){
			query.simpleQuery({
				id:'container',
				url:'/commodity/search',
				column:[
					{id:'shopCommodityId',type:'text',name:'商品ID'},
					{id:'isLink',type:'enum',name:'类型',map:{0:'普通商品',1:'导入商品'}},
					{id:'icon',type:'image',name:'图片'},
					{id:'title',type:'text',name:'标题'},
					{id:'priceShow',type:'text',name:'价格'},
					{id:'oldPriceShow',type:'text',name:'原价格'},
					{id:'inventory',type:'text',name:'库存'},
					{id:'shopCommodityClassifyId',type:'enum',name:'分类',map:allClassify},
					{id:'state',type:'enum',name:'状态',map:allState},
					{id:'remark',type:'text',name:'备注'},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'}
				],
				queryColumn:['title','introduction','shopCommodityClassifyId','state'],
				operate:[
				{
					name:'上移',
					click:function(data){
						$.post('/commodity/moveUp',{shopCommodityId:data.shopCommodityId},function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}
				},
				{
					name:'下移',
					click:function(data){
						$.post('/commodity/moveDown',{shopCommodityId:data.shopCommodityId},function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}
				},
				{
					name:'编辑',
					click:function(data){
						if( data.isLink == "导入商品" ){
							location.href = 'viewLink.html?shopCommodityId='+data.shopCommodityId;
						}else{
							location.href = 'view.html?shopCommodityId='+data.shopCommodityId;
						}
					}
				},
				{
					name:'删除',
					click:function(data){
						dialog.confirm('确认删除该商品，不可回退操作？!',function(){
							$.post('/commodity/del',{shopCommodityId:data.shopCommodityId},function(data){
								data = $.JSON.parse(data);
								if( data.code != 0 ){
									dialog.message(data.msg);
									return;
								}
								location.href = 'index.html';
							});
						});
					}
				}],
				button:[
				{
					name:'添加商品',
					click:function(){
						location.href = 'view.html';
					}
				},
				{
					name:'导入商品',
					click:function(){
						location.href = 'viewLink.html';
					}
				}
				],
			});
		}
		getAllState(function(){
			getAllClassify(go);
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">