<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var isCheck = ($.location.getQueryArgv('check') != null);
		var allClassify = {};
		var allState = {};
		var tableOperation = '';
		function getAllState(next){
			$.get('/commodity/getState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allState = data.data;
				next();
			});
		}
		function whenWindowClose(mode,operation){
			if( mode == 'confirm' )
				operation.close( tableOperation.getCheckData() );
			else
				operation.close( []);
		}
		function go(){
			tableOperation = query.simpleQuery({
				id:'container',
				url:'/commodity/searchAll',
				checkAll:isCheck,
				column:[
					{id:'shopCommodityId',type:'text',name:'商品ID'},
					{id:'appName',type:'text',name:'商城名字'},
					{id:'icon',type:'image',name:'商品图片'},
					{id:'title',type:'text',name:'商品名称'},
					{id:'priceShow',type:'text',name:'价格'},
					{id:'oldPriceShow',type:'text',name:'原价格'},
					{id:'inventory',type:'text',name:'库存'},
					{id:'state',type:'enum',name:'状态',map:allState},
					{id:'remark',type:'text',name:'备注'},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'}
				],
				queryColumn:['appName','title','introduction','state'],
				operate:[],
				button:[],
			});
		}
		getAllState(function(){
			go();
		});
	</script>
 </body>
</html>