<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var shopCommodityId = $.location.getQueryArgv('shopCommodityId');
		var allClassify = {};
		var allState = {};
		var shopCommodity = {};
		function getAllState(next){
			$.get('/commodity/getState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allState = data.data;
				next();
			});
		}
		function getAllClassify(next){
			$.get('/commodityclassify/search',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allClassify[0] = '无分类';
				for( var i in data.data.data ){
					allClassify[data.data.data[i].shopCommodityClassifyId] = data.data.data[i].title;
				}
				next();
			});
		}
		function getCommodity(next){
			$.get('/commodity/get',{shopCommodityId:shopCommodityId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				shopCommodity = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'title',type:'text',name:'标题'},
					{id:'icon',type:'image',name:'图片',option:{url:'/upload/image',width:640}},
					{id:'introduction',type:'text',name:'简介'},
					{id:'detail',type:'fullEditor',name:'内容',option:{url:'/upload/ueditor'}},
					{id:'price',type:'text',name:'价格'},
					{id:'oldPrice',type:'text',name:'原价格'},
					{id:'inventory',type:'text',name:'库存'},
					{id:'shopCommodityClassifyId',type:'enum',name:'分类',map:allClassify},
					{id:'state',type:'enum',name:'状态',map:allState},
					{id:'remark',type:'text',name:'备注'},
				],
				value:shopCommodity,
				submit:function(data){
					if( shopCommodityId != null ){
						data = $.extend({shopCommodityId:shopCommodityId},data);
						$.post('/commodity/mod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}else{
						$.post('/commodity/add',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							location.href = 'index.html';
						});
					}
				},
				cancel:function(){
					location.href = 'index.html';
				}
			});
		}
		getAllState(function(){
			getAllClassify(function(){
				if( shopCommodityId != null )
					getCommodity(go);
				else
					go();
			});
		});
	</script>
 </body>
</html>