<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var title2 = $.location.getQueryArgv('title');
		var classify = {};
		if( title2 != null )
			classify.title = title2;
		function whenWindowClose(state,operation){
			if( state == 'confirm'){
				operation.close( inputOperation.get() );
			}else{
				operation.close();
			}
		}
		function go(){
			inputOperation = input.verticalInput({
				id:'container',
				field:[
					{id:'title',type:'text',name:'名字'}
				],
				value:classify,
				submit:undefined,
				cancel:undefined
			});
		}
		go();
	</script>
 </body>
</html>