<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var clientId = $.location.getQueryArgv('clientId');
		var vipCard = {};
		function get(next){
			$.get('/vip/getCardDetail',{clientId:clientId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				vipCard = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:'text',name:'名字'},
					{id:'phone',type:'text',name:'手机'},
					{id:'score',type:'text',name:'积分'},
				],
				value:vipCard,
				submit:function(data){
					data = $.extend({clientId:clientId},data);
					$.post('/vip/modCardAll',data,function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						history.back();
					});
				},
				cancel:function(){
					history.back();
				}
			});
		}
		get(go);
	</script>
<link rel="import" href="../common/footer.html?__inline">