<link rel="import" href="../common/header.html?__inline">
	<div class="alert alert-danger" role="alert">注意！微信红包是微信内强而有力的营销手段，开启微信红包后，每个第一次进入商城的用户都能获得红包，造成用户自主转发商城地址，一下子导致大量的流量导入，给客户创造不可估量的价值</div>
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var redPackSetting = {};
		var redPackState = {};
		function getState(next){
			$.get('/redpack/getAllState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				redPackState = data.data;
				next();
			});
		}
		function get(next){
			$.get('/redpack/getSetting',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				redPackSetting = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'link',type:'read',name:'外部链接'},
					{id:'packNum',type:'read',name:'当前已发红包数量'},
					{id:'nickName',type:'text',name:'商户名称'},
					{id:'maxPackNum',type:'text',name:'最大红包总数量'},
					{id:'minMoneyShow',type:'text',name:'最小红包金额'},
					{id:'maxMoneyShow',type:'text',name:'最大红包金额'},
					{id:'wishing',type:'text',name:'红包祝福语'},
					{id:'actName',type:'text',name:'红包活动名称'},
					{id:'redPackRuleImage',type:'image',name:'活动说明图片',option:{url:'/upload/image',width:640}},
					{id:'remark',type:'text',name:'红包备注'},
					{id:'state',type:'enum',name:'是否开启红包功能',map:redPackState}
				],
				value:redPackSetting,
				submit:function(data){
					$.post('/redpack/setSetting',data,function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						location.reload();
					});
				},
				cancel:undefined
			});
		}
		getState(function(){
			get(function(){
				go();
			});
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">