<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query = require('/fishstrap/ui/query.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var clientType = {};
		function getType(next){
			$.get('/client/getType',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0){
					dialog.message(data.msg);
					return;
				}
				clientType = data.data;
				next();
			});
		}
		function go(){
			query.simpleQuery({
				id:'container',
				url:'/client/getUserInfo',
				column:[
					{id:'clientId',type:'text',name:'用户ID'},
					{id:'openId',type:'text',name:'openId'},
					{id:'type',type:'enum',name:'类型',map:clientType},
					{id:'headImgUrl',type:'image',name:'头像'},
					{id:'nickName',type:'text',name:'用户名'},
					{id:'createTime',type:'text',name:'创建时间'},
					{id:'modifyTime',type:'text',name:'修改时间'},
				],
				queryColumn:['nickName'],
				operate:[]
			});
		}
		getType(go);
	</script>
<link rel="import" href="../common/footer.html?__inline">