<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>烘焙帮后台管理系统</title>
	<script type="text/javascript" src="/fishstrap/lib/mod.js"></script>
</head>
<body class="definewidth m10">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var clientId = $.location.getQueryArgv('clientId');
		var client = {};
		var clientGender = {};
		var clientType = {};
		function whenWindowClose(mode,operation){
			operation.close([]);
		}
		function getClientGender(next){
			$.get('/client/getGender',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				clientGender = data.data;
				next();
			});
		}
		function getClientType(next){
			$.get('/client/getType',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				clientType = data.data;
				next();
			});
		}
		function getClient(next){
			$.get('/client/get',{clientId:clientId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				client = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'name',type:'read',name:'名字'},
					{id:'image',type:'image',name:'头像',option:{
						url:'/upload/image',
						width:640
					}},
					{id:'district',type:'read',name:'地区'},
					{id:'gender',type:'enum',name:'性别',map:clientGender},
					{id:'type',type:'enum',name:'类型',map:clientType},
					{id:'openId',type:'read',name:'openId'},
					{id:'createTime',type:'read',name:'首次登录时间'},
				],
				value:client,
				submit:undefined,
				cancel:undefined
			});
		}
		getClientGender(function(){
			getClientType(function(){
				getClient(go);
			});
		});
	</script>
 </body>
</html>
