<link rel="import" href="../common/header.html?__inline">
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		input.verticalInput({
			id:'container',
			field:[
				{id:'oldPassword',type:'password',name:'旧密码'},
				{id:'newPassword1',type:'password',name:'新密码'},
				{id:'newPassword2',type:'password',name:'再输入一次新密码'}
			],
			submit:function(data){
				if( data.newPassword1 != data.newPassword2 ){
					dialog.message('两次输入密码不一致');
					return;
				}
				data = {
					oldPassword:data.oldPassword,
					newPassword:data.newPassword1
				};
				$.post('/user/modMyPassword',data,function(data){
					data = $.JSON.parse(data);
					if( data.code != 0 ){
						dialog.message(data.msg);
						return;
					}
					dialog.message('修改密码成功',function(){
						location.href = 'index.html';
					});
				});
			},
			cancel:undefined
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">
