@import (reference) '../core/core.less';
#common_dialog_loading{
	&:extend(.common_global_fixfull);
	width:100%;
	height:100%;
	background-image:url(loading.gif);
	background-size:30px 30px;
	background-repeat:no-repeat;
	background-position:center center;
}