<link rel="import" href="../common/header.html?__inline">
<div class="alert alert-danger" role="alert">
1、自定义菜单最多包括3个一级菜单，每个一级菜单最多包含5个二级菜单。</br>
2、一级菜单最多4个汉字，二级菜单最多7个汉字，多出来的部分将会以“...”代替。</br>
3、创建自定义菜单后，由于微信客户端缓存，需要24小时微信客户端才会展现出来。测试时可以尝试取消关注公众账号后再次关注，则可以看到创建后的效果。
4、key值为选填项，若key为空，则默认采用view跳转网页方式;若有key值，则采用CLICK点击相应方式。
</div>
<div id="container">
</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var Menu = {};
		function get(next){
			$.get('/wxadvancedinterface/getMenu',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				Menu = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'name1',type:'text',name:'第一栏主菜单标题'},
					{id:'url1',type:'text',name:'第一栏主菜单链接(如果该子菜单有内容，该项不用填写)'},
					{id:'sub_button1',type:'table',name:'第一栏子菜单内容',
						option:{
							column:[
								{id:'name',type:'text',name:'子菜单标题'},
								{id:'url',type:'text',name:'子菜单链接'},
								{id:'key',type:'text',name:'key值'}
							],
							operate:[
							{
								name:'上移',
								click:function(data,operation){
									operation.moveUp();
								}
							},
							{
								name:'下移',
								click:function(data,operation){
									operation.moveDown();
								}
							},
							{
								name:'修改',
								click:function(data,operation){
									subPage.open({
										title:'修改子菜单',
										url:$.url.buildQueryUrl('subMenu.html',data),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.mod(data);
											}
										}
									});
								}
							},
							{
								name:'删除',
								click:function(data,operation){
									dialog.confirm('确认删除'+data.title+'?',function(){
										operation.remove();
									});
								}
							}],
							button:[{
								name:'添加子菜单',
								click:function(operation){
									subPage.open({
										title:'添加子菜单',
										url:$.url.buildQueryUrl('subMenu.html',{}),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.add([data]);
											}
										}
									});
								}
							}]
						}
					},
					{id:'key1',type:'text',name:'key值(选填)'},
					{id:'name2',type:'text',name:'第二栏主菜单标题'},
					{id:'url2',type:'text',name:'第二栏主菜单链接(如果该子菜单有内容，该项不用填写)'},
					{id:'sub_button2',type:'table',name:'第二栏子菜单内容',
						option:{
							column:[
								{id:'name',type:'text',name:'子菜单标题'},
								{id:'url',type:'text',name:'子菜单链接'},
								{id:'key',type:'text',name:'key值'}
							],
							operate:[
							{
								name:'上移',
								click:function(data,operation){
									operation.moveUp();
								}
							},
							{
								name:'下移',
								click:function(data,operation){
									operation.moveDown();
								}
							},
							{
								name:'修改',
								click:function(data,operation){
									subPage.open({
										title:'修改子菜单',
										url:$.url.buildQueryUrl('subMenu.html',data),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.mod(data);
											}
										}
									});
								}
							},
							{
								name:'删除',
								click:function(data,operation){
									dialog.confirm('确认删除该子菜单?',function(){
										operation.remove();
									});
								}
							}],
							button:[{
								name:'添加子菜单',
								click:function(operation){
									subPage.open({
										title:'添加子菜单',
										url:$.url.buildQueryUrl('subMenu.html',{}),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.add([data]);
											}
										}
									});
								}
							}]
						}
					},
					{id:'key2',type:'text',name:'key值(选填)'},
					{id:'name3',type:'text',name:'第三栏主菜单标题'},
					{id:'url3',type:'text',name:'第三栏主菜单链接(如果该子菜单有内容，该项不用填写)'},
					{id:'sub_button3',type:'table',name:'第三栏子菜单内容',
						option:{
							column:[
								{id:'name',type:'text',name:'子菜单标题'},
								{id:'url',type:'text',name:'子菜单链接'},
								{id:'key',type:'text',name:'key值'}
							],
							operate:[
							{
								name:'上移',
								click:function(data,operation){
									operation.moveUp();
								}
							},
							{
								name:'下移',
								click:function(data,operation){
									operation.moveDown();
								}
							},
							{
								name:'修改',
								click:function(data,operation){
									subPage.open({
										title:'修改子菜单',
										url:$.url.buildQueryUrl('subMenu.html',data),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.mod(data);
											}
										}
									});
								}
							},
							{
								name:'删除',
								click:function(data,operation){
									dialog.confirm('确认删除'+data.title+'?',function(){
										operation.remove();
									});
								}
							}],
							button:[{
								name:'添加子菜单',
								click:function(operation){
									subPage.open({
										title:'添加子菜单',
										url:$.url.buildQueryUrl('subMenu.html',{}),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.add([data]);
											}
										}
									});
								}
							}]
						}
					},
					{id:'key3',type:'text',name:'key值(选填)'},
				],
				value:Menu,
				submit:function(data){
						$.post('/wxadvancedinterface/setMenu',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}else{
								alert('发布成功，自定义菜单24小时内生效，或者重新关注公众号会看到效果');
								location.reload();
							}
							
						});
				},
			});
		}

				get(go);
		
	</script>
<link rel="import" href="../common/footer.html?__inline">