<link rel="import" href="../common/header.html?__inline">
<div id="container">
</div>
<script type="text/javascript">
	var $ = require('/fishstrap/core/global.js');
	var dialog = require('/fishstrap/ui/dialog.js');
	var input = require('/fishstrap/ui/input.js');
	var title = $.location.getQueryArgv('title');
	var image = $.location.getQueryArgv('image');
	var type = $.location.getQueryArgv('type');
	var quantity = $.location.getQueryArgv('quantity');
	var coupon_id = $.location.getQueryArgv('coupon_id');
	var precentShow = $.location.getQueryArgv('precentShow');
	var userId = $.location.getQueryArgv('userId');
	var data = {};
	var allType = {};
	var card = '';
	if(title!=null || image!=null){
		data = {
			title:title,
			image:image,
			type:type,
			quantity:quantity,
			coupon_id:coupon_id,
			precentShow:precentShow,
		};
	}
	function getCoupons(next){
		$.ajax({
			url: '/coupons/getCoupons',
			type: 'POST',
			dataType: 'JSON',
			success:function(data){
				data = $.JSON.parse(data);
				card = data.data;
				next();
			},
			error:function(){

			}
		})
	}
	function getAllType(next){
		$.get('/luckydraw/getAllType',{},function(data){
			data = $.JSON.parse(data);
			if( data.code != 0 ){
				dialog.message(data.msg);
				return;
			}
			allType = data.data;
			next();
		});
	}
	function whenWindowClose(mode,operation){
		if( mode == 'confirm'){
			var data = inputOperation.get();
			data.typeName = allType[data.type];
			operation.close(data);
		}else{
			operation.close({});
		}
	}
	function go(){
		inputOperation = input.verticalInput({
			id:'container',
			field:[
				{id:'title',type:'text',name:'标题'},
				{id:'image',type:'image',name:'图片',option:{url:'/upload/image',width:640}},
				{id:'type',type:'enum',name:'类型',map:allType},
				{id:'quantity',type:'text',name:'数量'},
				{id:'coupon_id',type:'text',name:'代金券批次ID'},
				{id:'card_id',type:'enum',name:'卡券',map:card},
			],
			value:data,
			submit:undefined,
			cancel:undefined
		});

		$('select[name=card_id]').parents('tr').css('display','none');
		$('input[name=coupon_id]').parents('tr').css('display','none');

		$('table').on('change', 'select[name=type]', function() {
			if($(this).val() == 4){
				$('select[name=card_id]').parents('tr').show();
			}else{
				$('select[name=card_id]').parents('tr').hide();
				$('select[name=card_id]').val(null);
			}
		});

		$('table').on('change', 'select[name=type]', function() {
			if($(this).val() == 3){
				$('input[name=coupon_id]').parents('tr').show();
			}else{
				$('input[name=coupon_id]').parents('tr').hide();
				$('input[name=coupon_id]').val('0');
			}
		});

		//验证选择的卡券
		$('table').on('change', 'select[name=card_id]', function() {
			var card_id = $(this).val();
			var quantity= $('input[name=quantity]').val();
			if(card_id){
				$.ajax({
					url: '/coupons/cardInfo',
					type: 'POST',
					dataType: 'JSON',
					data: {card_id: card_id},
					success:function(data){
						data = $.JSON.parse(data);
						var errcode = data['data']['errcode'];
						var card    = data['data']['card'];
						if(errcode != 0){
							alert('获取卡券信息失败');
						}else{
							console.info(card);
							status = card[card['card_type'].toLowerCase()]['base_info']['status'];
							card_quantity = card[card['card_type'].toLowerCase()]['base_info']['sku']['quantity'];
							if(status != 'CARD_STATUS_VERIFY_OK' && status != 'CARD_STATUS_USER_DISPATCH'){
								alert('该卡券还没通过审核');
								$('select[name=type]').val(1);
								$('select[name=card_id]').val(null);
								$('select[name=card_id]').parents('tr').hide();
								return false;
							}
							if(parseInt(card_quantity) < parseInt(quantity)){
								alert('该卡券库存不足');
								$('select[name=type]').val(1);
								$('select[name=card_id]').val(null);
								$('select[name=card_id]').parents('tr').hide();
								return false;
							}
						}
					},
					error:function(){

					}
				})
			}
		});
	}
	getAllType(function(){
		getCoupons(go);
	});
</script>
<link rel="import" href="../common/footer.html?__inline">
