<link rel="import" href="../common/header.html?__inline">
	<div class="alert alert-danger" role="alert">注意！外部链接是抽奖活动的网页地址，将抽奖活动的地址发布到朋友圈就能进行抽奖活动了，或者，你可以放到分类管理的外部链接中，就能在首页进行抽奖活动了。</div>
	<div id="container">
	</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var subPage = require('/fishstrap/page/subPage.js');
		var luckyDrawId = $.location.getQueryArgv('luckyDrawId');
		var allState = {};
		var luckyDraw = {};
		function getAllState(next){
			$.get('/luckydraw/getAllState',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				allState = data.data;
				next();
			});
		}
		function get(next){
			$.get('/luckydraw/get',{luckyDrawId:luckyDrawId},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				luckyDraw = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'link',type:'read',name:'外部链接'},
					{id:'title',type:'text',name:'标题'},
					{id:'summary',type:'text',name:'简介'},
					{id:'beginTime',type:'time',name:'开始时间'},
					{id:'endTime',type:'time',name:'结束时间'},
					{id:'commodity',type:'table',name:'奖品',
						option:{
							column:[
								{id:'title',type:'text',name:'标题'},
								{id:'image',type:'image',name:'图片'},
								{id:'type',type:'hidden',name:'类型'},
								{id:'typeName',type:'text',name:'类型'},
								{id:'quantity',type:'text',name:'数量'},
								{id:'precentShow',type:'text',name:'中奖率'},
							],
							operate:[
							{
								name:'上移',
								click:function(data,operation){
									operation.moveUp();
								}
							},
							{
								name:'下移',
								click:function(data,operation){
									operation.moveDown();
								}
							},
							{
								name:'修改',
								click:function(data,operation){
									subPage.open({
										title:'修改奖品',
										url:$.url.buildQueryUrl('viewCommodity.html',data),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.mod(data);
											}
										}
									});
								}
							},
							{
								name:'删除',
								click:function(data,operation){
									dialog.confirm('确认删除'+data.title+'?',function(){
										operation.remove();
									});
								}
							}],
							button:[{
								name:'添加',
								click:function(operation){
									subPage.open({
										title:'添加奖品',
										url:$.url.buildQueryUrl('viewCommodity.html',{}),
										close:function(state,data){
											if( state == 'confirm' ){
												operation.add([data]);
											}
										}
									});
								}
							}]
						}
					},
					{id:'state',type:'enum',name:'状态',map:allState},
				],
				value:luckyDraw,
				submit:function(data){
					if( luckyDrawId != null ){
						data = $.extend({luckyDrawId:luckyDrawId},data);
						$.post('/luckydraw/mod',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}else{
						$.post('/luckydraw/add',data,function(data){
							data = $.JSON.parse(data);
							if( data.code != 0 ){
								dialog.message(data.msg);
								return;
							}
							history.back();
						});
					}
				},
				cancel:function(){
					history.back();
				}
			});
		}
		getAllState(function(){
			if( luckyDrawId != null )
				get(go);
			else
				go();
		});
	</script>
<link rel="import" href="../common/footer.html?__inline">