<link rel="import" href="../common/header.html?__inline">
	<div class="alert alert-danger" role="alert">注意！上传商城北京图时，请选择宽度至少为640像素的图片。</div>
	<div id="container">
	</div>
	<div><img class="img-polaroid" src="/data/upload/sample/appKey.png"/></div>
	<div class="alert alert-danger" role="alert">注意！为了正常使用商城功能，请将微信后台的appId，appKey正确地复制过来，并且将OAuth2.0授权回调页面域名和微信支付授权目录填入到微信后台</div>
	<div><img class="img-polaroid" src="/data/upload/sample/mchSslKey.png"/></div>
	<div class="alert alert-danger" role="alert">注意！为了正常使用商城微信支付功能，请将微信后台的商户号填入mchId，API密匙填入mchKey</div>
	<div><img class="img-polaroid" src="/data/upload/sample/mchSslCert.png"/></div>
	<div class="alert alert-danger" role="alert">注意！为了正常使用商城微信红包功能，请将微信后台的application_cert.pem上传到mchSslCert，application_key.pem上传到mchSslKey</div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var input = require('/fishstrap/ui/input.js');
		var appInfo;
		function get(next){
			$.get('/user/getappinfo',{},function(data){
				data = $.JSON.parse(data);
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				appInfo = data.data;
				next();
			});
		}
		function go(){
			input.verticalInput({
				id:'container',
				field:[
					{id:'shop',type:'read',name:'商城地址'},
					{id:'Token',type:'read',name:'Token(令牌)'},
					{id:'serverurl',type:'read',name:'服务器地址URL'},
					{id:'logincallback',type:'read',name:'OAuth2.0授权回调页面域名'},
					{id:'paycallback',type:'read',name:'微信支付授权目录'},
					{id:'appBg',type:'image',name:'商城背景图',option:{url:'/upload/image',width:640}},
					{id:'appLogo',type:'image',name:'商城logo',option:{url:'/upload/image',width:80}},
					{id:'poster',type:'image',name:'商城海报',option:{url:'/upload/image'}},
					{id:'shopImg',type:'image',name:'商城自定义图片',option:{url:'/upload/image'}},
					{id:'appName',type:'text',name:'商城名称'},
					{id:'weixinNum',type:'text',name:'微信原始ID'},
					{id:'appId',type:'text',name:'appId'},
					{id:'appKey',type:'text',name:'appKey'},
					{id:'mchId',type:'text',name:'mchId'},
					{id:'mchKey',type:'text',name:'mchKey'},
					{id:'mchSslCert',type:'file',name:'mchSslCert',option:{url:'/upload/cert',type:'pem',maxSize:1024*1024}},
					{id:'mchSslKey',type:'file',name:'mchSslKey',option:{url:'/upload/cert',type:'pem',maxSize:1024*1024}},
					{id:'remark',type:'text',name:'备注'},
					{id:'customService',type:'text',name:'客服消息'},
				],
				value:appInfo,
				submit:function(data){
					$.post('/user/modappinfo',data,function(data){
						data = $.JSON.parse(data);
						if( data.code != 0 ){
							dialog.message(data.msg);
							return;
						}
						dialog.message('修改成功！',function(){
							location.href = 'index.html';
						});
					});
				},
				cancel:undefined
			});
		}
		get(go);
	</script>
<link rel="import" href="../common/footer.html?__inline">
