<link rel="import" href="../../header.html?__inline">
	<title></title>
</head>
<body>
	<div id="body"></div>
	<script type="text/javascript">
		var $ = require('../../common/core/core.js');
		var dialog = require('../../common/dialog/dialog.js');
		var Header = require('../../common/header/header.js');
		var Article = require('../../common/article/article.js');
		var userCompanyArticleId = $.location.getQueryArgv('userCompanyArticleId');
		var companyArticle = {};
		function getArticle(next){
			$.get('/article/get',{userCompanyArticleId:userCompanyArticleId},function(data){
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyArticle = data.data;
				next();
			});
		}
		function go(){
			//构建header
			var header = new Header({
				title:companyArticle.title,
				backLink:'articlelist.html?userCompanyClassifyId='+companyArticle.userCompanyClassifyId,
				button:[]
			});
			
			//构建article
			var article = new Article({
				title:companyArticle.title,
				content:companyArticle.content
			});
			
			//构建页面
			var pageHtml = header.el + article.el;
			$.page.start(pageHtml);
		}
		getArticle(go);
	</script>
</body>
<link rel="import" href="../../footer.html?__inline">