<link rel="import" href="../../header.html?__inline">
	<title>公司介绍</title>
</head>
<body>
	<div id="body"></div>
	<script type="text/javascript">
		var $ = require('../../common/core/core.js');
		var dialog = require('../../common/dialog/dialog.js');
		var Footer = require('../../common/footer/footer.js');
		var Banner = require('../../common/banner/banner.js');
		var Metro = require('../../common/metro/metro.js');
		var companyBanner = [];
		var companyClassify = [];
		function getBanner(next){
			$.get('/banner/getByUserId',{},function(data){
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyBanner = data.data.data;
				next();
			});
		}
		function getClassify(next){
			$.get('/classify/getByUserId',{},function(data){
				if( data.code != 0 ){
					dialog.message(data.msg);
					return;
				}
				companyClassify = data.data.data;
				next();
			});
		}
		function go(){
			//构建footer
			var footer = new Footer('company',true);
			
			//构建banner
			var bannerArgv = {
				interval:5000,
				images:[]
			};
			bannerArgv.images = _.map(companyBanner,function(single){
				return {link:single.url,image:single.image};
			});
			var banner = new Banner(bannerArgv);
			
			//构建metro
			var metroArgv = _.map(companyClassify,function(single){
				var link = '';
				if( single.link != '')
					link = single.link;
				else
					link = 'articlelist.html?userCompanyClassifyId='+single.userCompanyClassifyId;
				return {icon:single.icon,title:single.title,link:link};
			}); 
			var metro = new Metro(metroArgv);
			
			//构建page
			var pageHtml = banner.el + metro.el + footer.el;
			$.page.start(pageHtml);
		}
		getBanner(function(){
			getClassify(function(){
				go();
			});
		});
	</script>
</body>
<link rel="import" href="../../footer.html?__inline">