<link rel="import" href="../common/header.html?__inline">
	<div id="container"></div>
	<script type="text/javascript">
		var $ = require('/fishstrap/core/global.js');
		var dialog = require('/fishstrap/ui/dialog.js');
		var query  = require('/fishstrap/ui/query.js');
		var allClassify = {};
		var allState = {};
		function go(){
			query.simpleQuery({
				id:'container',
				url:'/boardtype/search',
				column:[
					{id:'boardTypeId',type:'text',name:'类型Id'},
					{id:'typeName',type:'text',name:'类型'},
				],
				operate:[
				{
					name:'编辑',
					click:function(data){
						window.location.href = 'typeView.html?boardTypeId=' + data.boardTypeId;
					}
				},
				{
					name:'删除',
					click:function(data){
						$.get('/boardtype/del',{'boardTypeId':data.boardTypeId}, function(data) {
							data = $.JSON.parse(data);
							if(data.code != 0){
								alert(data.msg);
								return;
							}
							window.location.reload();
						});
					}
				},
				],
				button:[
				{
					name:'添加类型',
					click:function(){
						location.href = 'typeView.html';
					}
				},
				],
			});
		}
		go();
	</script>
<link rel="import" href="../common/footer.html?__inline">